body {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Fondo del body */
  overflow: visible; 
}

.logo {
  position: absolute;
  width: 100px; /* Tamaño del logo */
  height: 100px; /* Tamaño del logo */
  background-image: url('develianlogo.png'); /* Ruta del logo */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
 }


.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  z-index: 10;
}

img {
  padding-top: 1px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background: #a72828;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background: #882121;
}

#message {
  margin-top: 20px;
}

#download-link {
  margin-top: 20px;
  background-color: #a72828;
  border: #882121;
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

#file-link {
  color: white;
}

#Buscar {
  margin-top: 5px;
}
#download-music{
  margin-top:5px;
}

@media (max-width: 600px) {
  .container {
      padding: 15px;
  }
}
